/*css for the view more page.*/
.page-body span{
    font-weight: 600;
}
.page-body{
    font-weight: 100;
}
.ride_details ul, .rider-info ul{
    list-style-type: none;
    padding: 0;
}
.panel-heading{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
}
.rider-info img, .vehicle-info img{
    width: 4em;
    height: 4em;
}
.rider-info span, .vehicle-info span {
    color: #eb7a5c;
}
.ride_details span{
    color:dimgray;
}
.btn-primary, .btn-primary:hover{
    font-family: open sans;
    font-weight: 700;
    background-color:#9dcb3c;
    border: 0px;
    color:#ffffff !important;
    border-radius: 5%;
   }
 .date_time, .rider-info, .call, .route_map, .vehicle-info{
   font-family: 'Montserrat', sans-serif;
    font-size: 1.3em;
    text-align: center;
    overflow: inherit;
    list-style-type: none;
}
.ride_details{
    font-family: 'Montserrat', sans-serif;
    font-size: 1.5em;
    font-weight: 100;
}
.stop_points{
    font-size: 0.8em;
    font-weight: 500;
    margin: 6.5% auto;
}

#ride_text{
text-align: center;
padding:2em;
}
.date_time{
    font-size: 1.32em;
    font-weight: 700;

}

.label-info{
    color:black;
}

